<?php
foreach ($this->images as $image) {
	echo '<div class="mySlides fade">
            <img class="image" src=\"$images\" />
            <div class="indicator">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
          </div>';
}
?>