<script src="imageSlider.js"></script>
<div class="slideshow-container">
<?php  
$images = array("pictures/doggo.jpg", "pictures/Jesse.jpg", "pictures/tickets.jpg");
foreach ($images as $image) {
	echo '<div class="mySlides fade">
            <img class="image" src="' . $image . '"/>
          </div>';
}
?>
</div>
<br>
<div class="indicator">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span>

</div>
<br>
<div class="content">This is content</div>