body{
    background: linear-gradient(rgba(256,256,256,0.15), rgba(256,256,256,0.15)), url("pictures/BWcodescreen.jpg");
/*
    width: 100%;
    height: 100%;
*/
    color: #bebebe;
}

.fullPage{
    background-color: rgba(248, 247, 216, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.header{
    position: -webkit-sticky;
    position: -mozilla-sticky;
    
}

div.content{
/*    background-image: url("pictures/BWcodescreen.jpg");*/
}

nav.nav-bar{
    font-family: 'Playfair Display', serif;
    background-color: black;
    position: absolute;
    width: 75%;
    height: 5em;
    right: 0px;
    top: 0px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    border-radius: 0px 0px 8px 8px;
/*    justify-content: center;*/
/*    align-content: center;*/
/*    margin-right: -8px;*/
}

a.nav-bar{
    text-decoration: none;
    color: #bebebe;
}

a.nav-bar:hover{
    
}
