/*General CSS*/
body{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("pictures/BWgreenTiger.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #bebebe;
    margin: 1px;
}
 
div.header-left{
    display: inline;
    float: left;
    font-size: 1.5em;
    font-family: 'Slabo 27px', serif;
    color: #bebebe;
}

nav.nav-bar{
    display: inline;
    float: right;
    text-align: right;
    font-family: 'Slabo 27px', serif;
    font-size: 1.25em;
    margin-left: 0;
    margin-top: 0;
    height: 4em;
    top: 0;
    left: 0;
}

a.nav-bar{
    text-decoration: none;
    color: #bebebe;
}

#item1, #item2, #item3, #item4{
    padding-right: 5px;
}

div.clear{
    clear: both;
}

div.content{
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    text-shadow: 3px 3px 5px #002a12;
    color: #edeeef;
    position: relative;
    margin: 0;
    bottom: 0;
    
}

div.stuff{
    background-color: #edeeef;
    color: black;
    position: relative;
    width: 75%;
    height: 75%;
    margin: auto;
    align-content: center;
}

.words{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 2em;
    margin: auto;
    text-align: center;
    bottom: 0;
}

/*About Me css*/
.title{
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    text-shadow: 3px 3px 5px #002a12;
    color: #edeeef;
    position: relative;
    margin: 0;
    bottom: 0;
}

.column{
    text-indent: 20px; 
    padding: 15px; 
    text-align: justify; 
    box-sizing: border-box; 
}

.rowOne{
    flex: 50%;
}

.content-right{
    float: right;
}

.between-bar{
    height: 65%;
    width: 100%;
    align
}

.mab-bar{
    border: 10px solid orange; 
    border-radius: 100px; 
    padding: 30px; 
    margin: 50px auto; 
    display: flex;
    flex-flow: row wrap;
}

iframe#MAB-video{
    border: none;
    width: 100%;
    height: 600px;;
    float: right;
}

.mizzou-bar{
    border: 10px solid orange; 
    border-radius: 100px; 
    padding: 30px; 
    margin: 50px auto; 
    display: flex;
    flex-flow: row wrap;
}

#jesse{
    height: 720px;
    width: 536px;
}

.animal-bar{
    border: 10px solid orange; 
    border-radius: 100px; 
    padding: 30px; 
    margin: 50px auto; 
    display: flex;
    flex-flow: row wrap;
}

#animals{
    height: 536px;
    width: 720px;
    float: right;
}

/*Resume page css*/


/*createUser_form css*/
div.item{
    
}

/*Contact page css*/
p#pretext{
    font-size: 2em;
    margin: auto;
    text-align: center;
    bottom: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2%;
    padding-right: 2%;
}

input#subject{
    line-height: 1;
    width: 60%;
    margin-bottom: 5px;
    padding 2px;
}

div.message-div{
    align-items: center;
}

div.message-tag{
    display: inline-block;
}

textarea#message{
    display: inline-block;
    line-height: 20;
    width: 60%;
    padding: 2px;
}